@media screen and (max-width: 899px){

  
    nav > *{
      font-size: 15px;
      color: black;
    }
  
    /* span.navbar-brand{
      font-size: 15px
    } */


  }


  .nav-link{
      color: black!important;
      text-decoration: underline;
      margin: 16px;
  }

  .nav-link.active{
      color: white !important;
      background-color: #231E20;
      border-radius: 3px;
      text-decoration: none;
  }

nav{
    background-color: #FFFFFF;
    font-size: 18px;
    font-weight:500;
}

