body{
  
  padding-bottom: 0;
}

.container.main-container{
  background-color: white;
  min-height: 100vh;
  padding-bottom: 20px;
}

@media screen and (min-width: 900px){
  #right-about-box{
    border-right: 5px solid black;
  }
  .main-container{
    width: 75vw
  }

  nav > *{
    font-size: 35px
  }

  span.navbar-brand{
    font-size: 35px
  }

  #chessForm > *{
    font-size: 20px
  }

  body{
  background-image: url('./imgs/background.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  }
}

@media screen and (max-width: 899px){
  .main-container{
    width: 100vw;
  }

  nav > *{
    font-size: 15px
  }

  span.navbar-brand{
    font-size: 15px
  }

  #chessForm > *{
    font-size: 20px
  }

  #aboutMeImg{
    display: none;
  }
}

.fade-in{
  animation: fadeIn linear 1s;

}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.question, .ratingInput{
  margin-left: 40px;
}

.inline-drop{
  display: inline-block
}

.select h2, button.selector{
  font-size: 2rem important!
}


.higher{
  color: green;
}

.lower{
  color: red;
}

.lower, .higher {
  font-weight: 750;
}

.difference > *{
  font-size: 20px
}

.difference {
  margin-top: 2.5vh
}

.dropdown-toggle{
  margin: 1em;
}

.noData{
  font-size: 20px;
  color: red;
}

#difference{
  margin-bottom: 0;
}

#aboutMeImg{
  height: auto;
  max-height: 80vh
}



.center{
  text-align: center;
}

#find-my-rating{
  width: 3.5em;
}
